<div class="Location">
  <center><h1>Hi!</h1></center>
  <center><p>{{ site.user_description }}</p></center>
</div>
<div class="Schedule">
  <center><h1>Schedule</h1></center>
    <img src="assets/YaleBrainhack2019Schedule.jpg" width="1100" height="850" align="left">
    <p></p>
</div>
<br>
<div class="Location">
  <center><h1>Location</h1></center>
    <p>Most events will take place at the Magnetic Resonance Research Center (MRRC) conference room (N135) in The Anlyan Center</p>
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.342159161585!2d-72.93602578471321!3d41.30141957927217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7d84e20edd8ab%3A0xae99921a75919d90!2sAnlyan%20Center%2C%20300%20Cedar%20St%2C%20New%20Haven%2C%20CT%2006519!5e0!3m2!1sen!2sus!4v1572836219198!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></centre>
</div>
